[GLOBAL]
pants_version = "2.24.1"

pythonpath = ["%(buildroot)s/pants-plugins/cargo-porcelain"]

backend_packages = [
  "pants.backend.experimental.python",
  "pants.backend.experimental.python.lint.ruff.check",
  "pants.backend.plugin_development",
  "pants.backend.python",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8",
  "pants.backend.python.lint.isort",
  "pants.backend.shell",
  "pants.backend.tools.taplo",

  "pants_cargo_porcelain",
  "pants_cargo_porcelain.backends.clippy",
]

pants_ignore = [".*/", "/dist/", "__pycache__", "**/pdm_build.py"]

[python]
tailor_pex_binary_targets = true
interpreter_constraints = ["==3.9.*"]
enable_resolves = true
default_resolve = "pants-plugins"

[python.resolves]
pants-plugins = "pants-plugins/pants.lock"
pants-current = "pants-plugins/current.lock"
pants-next = "pants-plugins/next.lock"

pytest = "locks/tools/pytest.lock"
isort = "locks/tools/isort.lock"
ipython = "locks/tools/ipython.lock"
black = "locks/tools/black.lock"

[python.resolves_to_interpreter_constraints]
pants-plugins = ["==3.9.*"]
pants-current = ["==3.9.*"]
pants-next = ["==3.9.*"]

black = [">=3.9,<3.10"]

[black]
install_from_resolve = "black"
interpreter_constraints = ["==3.9.*"]

[ipython]
install_from_resolve = "ipython"

[isort]
install_from_resolve = "isort"
args = '--resolve-all-configs'
interpreter_constraints = ["==3.9.*"]
config = "['pyproject.toml']"

[pytest]
args = ["--no-header"]
execution_slot_var = "TEST_EXECUTION_SLOT"
install_from_resolve = "pytest"

[source]
root_patterns = []
marker_filenames = ["pyproject.toml"]

[anonymous-telemetry]
enabled = false

[rustup]
rust_version = "1.72.1"

[clippy]
args = ["--", "-Dwarnings"]

[sccache]
enabled = true

[binstall]
enable = true
